<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="3.2.15.447" id="extensions:xiaonei-reformer" defaultlocale="zh-cn">
	<name>Xiaonei Reformer</name>
	<description xml:lang="en">enhance your experience on renren.com (formerly xiaonei.com)</description>
	<description xml:lang="zh-cn">改造你的人人网！</description>
	<author href="http://xiaonei-reformer.googlecode.com/" email="xnreformer@gmail.com">xz</author>
	<license href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License version 3</license>
	<icon src="icons/logo_64.png"/>
	<feature name="opera:share-cookies" required="true" subdomains="true"/>
	<access origin="http://renren.com" subdomains="true"/>
	<access origin="http://rrimg.com" subdomains="true"/>
	<access origin="http://xnimg.cn" subdomains="true"/>
	<access origin="http://rrfmn.com" subdomains="true"/>
	<access origin="http://xnpic.com" subdomains="true"/>
	<access origin="http://xiaonei-reformer.googlecode.com"/>
</widget>
