<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>xz</string>
	<key>Builder Version</key>
	<string>534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>人人网改造器</string>
	<key>CFBundleIdentifier</key>
	<string>com.googlecode.xiaonei-reformer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.1.459</string>
	<key>CFBundleVersion</key>
	<string>459</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://wpi.renren.com/*</string>
			<string>http://*.renren.com/ajaxproxy*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>xiaonei_reformer.user.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.renren.com/*</string>
			<string>http://renren.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>为人人网（renren.com，原校内网 xiaonei.com）清理广告、新鲜事、各种烦人的通告，删除页面模板，恢复旧的深蓝色主题，增加更多功能…</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.renren.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://xiaonei-reformer.googlecode.com/files/update.plist</string>
	<key>Website</key>
	<string>http://xiaonei-reformer.googlecode.com</string>
</dict>
</plist>
